h1 {
    padding: 20px;
    font-weight: bold;
}

input {
    margin-right: 10px;
    margin-left: 2px
}

#helperText {
    width: max-content;
    /* margin: auto; */
}

body {
    background-color: palegoldenrod;
}